@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 717px) {
  .buttonAndt {
    width: 110px !important;
    font-size: 11px !important;
  }
}

@media (max-width: 600px) {
  .buttonAndt {
    width: 90px !important;
    font-size: 9px !important;
    height: 24px !important;
  }
}

@media (max-width: 380px) {
  .buttonAndt {
    width: 70px !important;
    font-size: 7px !important;
    height: 20px !important;
  }
}

@media (max-width: 600px) {
  .buttonAndt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px !important;
    font-size: 9px !important;
    height: 24px !important;
  }
}

@media (max-width: 380px) {
  .buttonAndt2 {
    width: 70px !important;
    font-size: 8px !important;
    height: 20px !important;
  }
}

@media (max-width: 768px) {
  .modall {
    width: 400px !important;
  }
}

@media (max-width: 600px) {
  .modall {
    width: 350px !important;
  }
}

@media (max-width: 400px) {
  .modall {
    width: 300px !important;
  }
}
